[Unit]
Description=Restore encrypted wallpaper
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/alt/.local/bin/set-wallpaper --restore

[Install]
WantedBy=graphical-session.target
