[Unit]
Description=SSH authentication agent

[Service]
Type=simple
# %t expands to $XDG_RUNTIME_DIR (e.g. /run/user/1000)
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
